@model DomainModel.Jobs.Job
@{
    ViewData["Title"] = "Job Details";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}
<style>
    .maincontainer .opening-details h1 {
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 25px;
        font-family: "Poppins";
    }



    .maincontainer .opening-details p {
        font-weight: 400;
        font-size: 16px;
        font-family: "Poppins";
        margin-bottom: 0px;
    }



    .maincontainer .opening-details .apply {
        background-color: #008BFF;
        color: #FFFFFF;
        border: none;
        padding: 5px 20px 5px 20px;
        font-family: "Poppins";
    }
</style>
<div class="container">
<div class="container-fluid p-0 maincontainer">
    <div class="col-lg-12 opening-details">
        <div class="row">
            <div class="col-lg-8 job-cards">
                <h1>@Model.JobTitle</h1>
                <p>@Model.Description</p>
                <p><strong>Department:</strong> @Model.DepartmentName</p>
                    <p><strong>Location:</strong> @Model.Country_Home @Model.State_Home @Model.City_Home</p>
                <p><strong>Salary:</strong> @Model.Salary @Model.CurrencyType_Home</p>
                <p><strong>Experience:</strong> @Model.MinExperience - @Model.MaxExperience years</p>
                <p><strong>Job Type:</strong> @Model.JobType_Home</p>
                <p><strong>Job Mode:</strong> @Model.JobMode_Home</p>
                  
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8">
                  
                    <button class="mt-auto apply"  onclick="CreateAppliedJob(@Model.JobId)">
                    Apply Now
                    </button>
            </div>
        </div>
    </div>
</div>

 <script src="~/js/CreateAplliedjob.js"></script>

