<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] (i2e Job Portal)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Kodchasan:ital,wght@0,400;0,600;0,700;1,500;1,700&family=Montserrat:wght@500&family=Poppins:wght@300;400;600;700;800&family=Roboto&display=swap"
          rel="stylesheet">



    <style>


       
        .footer {
            background-color: #202020;
            color: #FFFFFF;
            padding: 20px 0;
        }

        .footerLogoSection {
            display: flex;
            align-items: center;
        }

            .footerLogoSection img {
                width: 92px;
                float: left;
            }

            .footerLogoSection small {
                font-size: 10px;
                float: right;
                color: #FFFFFF;
            }

        .footerBackground {
            display: flex;
            justify-content: space-between;
        }

       /*  .navbar {
            width: 85%;
            margin: auto;
        }

            .navbar .navbar-brand {
                display: flex;
                align-items: center;
            }

            .navbar .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
                justify-content: flex-end;
            }

            .navbar .navbar-nav .nav-item {
                margin: 0px 10px;
            }

            .navbar .nav-link {
                color: #202020;
                font-weight: 600;
            }
 */

        .menu-contains .logo-section {
            display: flex;
            align-self: center;
        }

        .menu-contains .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto !important;
            justify-content: flex-end !important;
        }

        .menu-contains .nav-item {
            margin: 0px 10px !important;
        }

            .menu-contains .nav-item .nav-link {
                /* color: #000000; */
                color: rgba(0,0,0,.55) !important;
                font-family: "Poppins" !important;
                font-weight: 400 !important;
                font-size: 15px;
                padding: 0px;
            }

            .menu-contains .nav-item .active {
                color: #000000;
                font-family: "Poppins" !important;
                font-weight: 800 !important;
            }

        /* DevExtreme CSS starts from below*/
        .dx-theme-generic-typography .dx-font-xl, .dx-theme-generic-typography h1 {
            font-weight: 600;
            font-size: 48px;
            font-family: "Poppins";
            text-align: center;
        }

        .Mainheading {
            font-weight: 600;
            font-size: 48px;
            font-family: "Poppins";
            text-align: center;
        }

        .dx-header-row {
            font-weight: 700;
            font-size: 16px;
            font-family: "Poppins";
            background-color: #008BFF;
            color: white;
        }


        .dx-datagrid-table {
            box-shadow: 0 0 10px #dce9fb;
        }

       

    </style>
</head>
<body>
    <header>

        <div class="col-lg menu-contains">
        <nav class="navbar navbar-expand-sm bg-white navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/i2e_JobPortal_Logo.jpg" alt="i2e Logo" style="width:155px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-auto">

                                               
                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="Admin" asp-controller="AdminDashboard" asp-action="Index">Admin Dashboard</a>
                        </li>

                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="Admin" asp-controller="RegisteredJobSeekers" asp-action="Index">JobSeekers Management</a>
                        </li>

                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="Admin" asp-controller="Job" asp-action="Index">Jobs Management</a>
                        </li>

                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="Admin" asp-controller="JobApplications" asp-action="Index">Job Applications</a>
                        </li>  

                        @* <li class="nav-item px-2">
                            <a class="nav-link" asp-area="Admin" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li> *@

                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="Admin" asp-controller="ContactQueries" asp-action="Index">Contact Queries</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <img id="profileImage" src="#" alt="Profile Picture" style="width: 40px; height: 40px; border-radius: 10px; border: 1px solid #202020;" />
                                <span class="badge rounded-pill" style="background-color: white; color: #202020;">
                                    <span id="firstNameSpan"></span><br />
                                    @User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.Role)?.Value
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a asp-controller="EditAdminFullDetails" asp-action="Index" asp-route-id="@User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" class="dropdown-item">Manage Profile Details</a>
                                <a asp-controller="AuditUserLogins" asp-action="Index" asp-route-id="@User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" class="dropdown-item">Audit User Logins <i class="bi bi-person-vcard-fill"></i></a>
                                <a asp-controller="AuditUserActivities" asp-action="Index" asp-route-id="@User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" class="dropdown-item">Audit User Activities <i class="bi bi-clipboard2-data-fill"></i></a>
                                <div class="dropdown-divider"></div>
                                <a  asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">Logout</a>
                            </div>
                        </li>

                                           
                    </ul>
                </div>

            </div>
        </nav>
        </div>

        
    </header>
    <div class="container">

        @RenderBody()

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            <div class="container-fluid">
                <div class="row footerBackground">
                    <div class="col-sm-3 footerLogoSection">
                        <div class="col-sm-4" style="text-align: left;">
                            <img src="~/Images/i2e_Logo_White.png" alt="i2e Logo" style="width:92px; float: left;" />
                        </div>
                        <div class="col-sm-8" style="float: right;">
                            <small style="font-size:10px;">i2e consulting named among the fastest growing private companies in the US (2018 Inc. 5000), a Microsoft Gold partner has been delivering tailored solutions to Fortune 100 companies for over a decade.</small>
                        </div>
                    </div>
                    <div class="col-sm-9">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

        $(() => {
            function LoadRecords() {
                var userId = @User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
                $.ajax({
                    url: "/EditAdminFullDetails/GetAdminDetails",
                    method: "GET",
                    data: { "id": userId },
                    success: function (ResponseData) {
                        const user = ResponseData[0];
                        console.log(user.ProfilePicture);
                        console.log(user.FirstName)
                        const profileImageElement = document.getElementById("profileImage");
                        if (user.ProfilePicture == null || user.ProfilePicture == "") {
                            user.ProfilePicture = "/AdminProfile/DefaultProfileAdmin.png"; // Set the src attribute
                        }
                        profileImageElement.src = user.ProfilePicture;

                        const firstNameSpan = document.getElementById("firstNameSpan");
                        firstNameSpan.textContent = "Hi " + user.FirstName; // Set the content of the span
                    },
                    error: function (err) {
                        alert(err);
                    }

                })
            }

            LoadRecords();


        });



    </script>
</body>
</html>
